@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./assets/fonts/SEGA.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  text-align: center;
  font-size: 3rem;
  font-family: SEGA LOGO FONT;
  font-weight: 200;
  color: #0ccac4;
  margin: 0.67em 0;
}

@media (max-width: 500px) {
  .logo {
    font-size: 2rem;
  }
}